<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alura receitas</title>
</head>
<body>
    <h1>Alura receitas</h1>
    <h2>As melhores receitas do Brasil</h2>
    <table>
        <thead>
            <tr>
                <td>Nome</td>
                <td>Preço</td>
                <td>Origem</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lasanha</td>
                <td>199.90</td>
                <td>África</td>
            </tr>
        </tbody>
    </table>
</body>
</html>