{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="preloader">
    <i class="circle-preloader"></i>
    <img src="{% static 'img/core-img/hamburger.png' %}" alt="">
</div>
<div class="search-wrapper">
    <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="/" method="post">
                    {% csrf_token %}
                    <input type="search" name="search" placeholder="O que está procurando...">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'partials/header.html' %}

<div class="receipe-post-search mb-80">
    <div class="container">
        <form action="/" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-lg-5">
                    <select name="category_id" id="category_id">
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12 col-lg-2 text-right">
                    <button type="submit" class="btn delicious-btn">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="receipe-slider owl-carousel">
                <img src="{{ recipe.img }}">
            </div>
        </div>
    </div>
</div>
<div class="receipe-content-area">
    <div class="container">

        <div class="row">
            <div class="col-12 col-md-8">
                <div class="receipe-headline my-5">
                    <span>{{ recipe.pub_date }}</span>
                    <h2>{{ recipe.name }}</h2>
                    <div class="receipe-duration">
                        <h6>Preparo: {{ recipe.ready_time_minutes }} minutos</h6>
                        <h6>Rendimento: {{ recipe.amount }} porçoes</h6>
                        <h6>Categoria: {{ recipe.category.category_name }}</h6>
                        <h6>Por: {{ recipe.amount_by }}</h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="single-preparation-step d-flex">
                        <p>{{ recipe.description }}</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="ingredients">
                        <h4>Ingredientes</h4>
                        <div class="ingredients">
                            <p>{{ recipe.ingredients }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'partials/footer.html' %}
            {% endblock %}